.elementor-1766 .elementor-element.elementor-element-10e5a3b>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end
}

.elementor-1766 .elementor-element.elementor-element-10e5a3b>.elementor-background-overlay {
    background-color: rgba(39, 60, 102, .4);
    opacity: 1
}

.elementor-1766 .elementor-element.elementor-element-10e5a3b {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    z-index: 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-5a87cb1>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .banner-item {
    min-height: 700px
}

.elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .slider-content .sub-title {
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .slider-content .main-title {
    margin: 0 0 20px 0
}

.elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .slider-content .slider-desc {
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-2d010c6 .slider-content {
    padding: 60px 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-2d010c6>.elementor-widget-container {
    margin: -95px 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-6c91129:not(.elementor-motion-effects-element-type-background),
.elementor-1766 .elementor-element.elementor-element-6c91129>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f1f5fd;
    background-image: url(../../../../../../../../../uploads/2019/10/funfact_bg.png);
    background-position: center center;
    background-size: cover
}

.elementor-1766 .elementor-element.elementor-element-6c91129 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0 20px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-6c91129>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-1766 .elementor-element.elementor-element-cf81dcd .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Roboto", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.36px
}

.elementor-1766 .elementor-element.elementor-element-cf81dcd .elementor-counter-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-bf97b2f .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Roboto", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.36px
}

.elementor-1766 .elementor-element.elementor-element-bf97b2f .elementor-counter-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-cd295d4 .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Roboto", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.36px
}

.elementor-1766 .elementor-element.elementor-element-cd295d4 .elementor-counter-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-8c98594 .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Roboto", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.36px
}

.elementor-1766 .elementor-element.elementor-element-8c98594 .elementor-counter-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-8cdb864 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 85px 0 85px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-fa5cd67>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-8df405f {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 45px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-3fda709>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-72240b8 .ts-section-title {
    text-align: left
}

.elementor-1766 .elementor-element.elementor-element-72240b8 .section-title {
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px
}

.elementor-1766 .elementor-element.elementor-element-72240b8 .sub-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-72240b8 .ts-section-title .sub-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-72240b8 .ts-section-title .section-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-72240b8>.elementor-widget-container {
    padding: 0 0 0 0;
    border-radius: 0 0 0 0
}

.elementor-bc-flex-widget .elementor-1766 .elementor-element.elementor-element-eda89f4.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-1766 .elementor-element.elementor-element-eda89f4.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-1766 .elementor-element.elementor-element-eda89f4>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button .elementor-align-icon-right {
    margin-left: 8px
}

.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button .elementor-align-icon-left {
    margin-right: 8px
}

.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    fill: #0eb582;
    color: #0eb582;
    background-color: #f0fdfa;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #0eb582;
    border-radius: 36px 36px 36px 36px;
    padding: 18px 30px 15px 30px
}

.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button:hover,
.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button:focus {
    color: #fff;
    background-color: #0eb582;
    border-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button:hover svg,
.elementor-1766 .elementor-element.elementor-element-e41162f .elementor-button:focus svg {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-e41162f>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-7e82bae {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    overflow: visible
}

.elementor-bc-flex-widget .elementor-1766 .elementor-element.elementor-element-4c566ba.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-1766 .elementor-element.elementor-element-4c566ba.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-1766 .elementor-element.elementor-element-4c566ba>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-6b8ff6b .single-course-category {
    text-align: left;
    padding: 28px 28px 28px 28px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #d1f6ed;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-6b8ff6b .single-course-category:hover .course-category-title a {
    color: #fff
}

.elementor-1766 .elementor-element.elementor-element-6b8ff6b .single-course-category .course-category-title {
    margin: 0 0 10px 0
}

.elementor-1766 .elementor-element.elementor-element-6b8ff6b .ts-course-category .single-course-category .course-media img {
    width: 68px;
    height: 68px
}

.elementor-1766 .elementor-element.elementor-element-6b8ff6b .ts-course-category .single-course-category:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-0238342:not(.elementor-motion-effects-element-type-background),
.elementor-1766 .elementor-element.elementor-element-0238342>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f4f8ff;
    background-image: url(/wp-content/uploads/2019/12/course_bg.png);
    background-position: top center;
    background-repeat: no-repeat
}

.elementor-1766 .elementor-element.elementor-element-0238342 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 85px 0 70px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-0238342>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-1766 .elementor-element.elementor-element-11d06fb>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-33d0864 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 70px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-e6156f8>.elementor-element-populated {
    margin: 0 0 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-6cc1697 .ts-section-title {
    text-align: left
}

.elementor-1766 .elementor-element.elementor-element-6cc1697 .section-title {
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px
}

.elementor-1766 .elementor-element.elementor-element-6cc1697 .sub-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-6cc1697 .ts-section-title .sub-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-6cc1697 .ts-section-title .section-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-6cc1697>.elementor-widget-container {
    padding: 0 0 0 0;
    border-radius: 0 0 0 0
}

.elementor-bc-flex-widget .elementor-1766 .elementor-element.elementor-element-327db17.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-1766 .elementor-element.elementor-element-327db17.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-1766 .elementor-element.elementor-element-327db17>.elementor-element-populated {
    margin: 0 15px 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button .elementor-align-icon-right {
    margin-left: 8px
}

.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button .elementor-align-icon-left {
    margin-right: 8px
}

.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    fill: #0eb582;
    color: #0eb582;
    background-color: #f0fdfa;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #0eb582;
    border-radius: 36px 36px 36px 36px;
    padding: 18px 30px 15px 30px
}

.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button:hover,
.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button:focus {
    color: #fff;
    background-color: #0eb582;
    border-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button:hover svg,
.elementor-1766 .elementor-element.elementor-element-9b138d8 .elementor-button:focus svg {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-9b138d8>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-2bddcb0 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-d373c6c>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .single-course .ts-course-el-title {
    font-size: 25px
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .course-single-wrap .single-course .border-bar {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .single-course:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .single-course .course-shap path:last-of-type {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .single-course {
    margin: 0 0 40px 0;
    padding: 30px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .course-single-wrap .course-thumbnail img {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-de2f1a4 .course-single-wrap .course-thumbnail {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-37960e7>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-872864d .single-course .ts-course-el-title {
    font-size: 25px
}

.elementor-1766 .elementor-element.elementor-element-872864d .course-single-wrap .single-course .border-bar {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-872864d .single-course:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-872864d .single-course .course-shap path:last-of-type {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-872864d .single-course {
    margin: 0 0 40px 0;
    padding: 30px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-872864d .course-single-wrap .course-thumbnail img {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-872864d .course-single-wrap .course-thumbnail {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-ae7ed0c>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .single-course .ts-course-el-title {
    font-size: 25px
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .course-single-wrap .single-course .border-bar {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .single-course:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .single-course .course-shap path:last-of-type {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .single-course {
    margin: 0 0 40px 0;
    padding: 30px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .course-single-wrap .course-thumbnail img {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-f5772f5 .course-single-wrap .course-thumbnail {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-cadcab2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-1d12cc4>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .single-course .ts-course-el-title {
    font-size: 25px
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .course-single-wrap .single-course .border-bar {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .single-course:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .single-course .course-shap path:last-of-type {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .single-course {
    margin: 0 0 40px 0;
    padding: 30px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .course-single-wrap .course-thumbnail img {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-e9f6da7 .course-single-wrap .course-thumbnail {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-d4576a4>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .single-course .ts-course-el-title {
    font-size: 25px
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .course-single-wrap .single-course .border-bar {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .single-course:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .single-course .course-shap path:last-of-type {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .single-course {
    margin: 0 0 40px 0;
    padding: 30px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .course-single-wrap .course-thumbnail img {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-8a1d656 .course-single-wrap .course-thumbnail {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-eea20b6>.elementor-element-populated {
    margin: 0 15px 0 15px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .single-course .ts-course-el-title {
    font-size: 25px
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .course-single-wrap .single-course .border-bar {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .single-course:hover {
    background-color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .single-course .course-shap path:last-of-type {
    fill: #fff
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .single-course {
    margin: 0 0 40px 0;
    padding: 30px 30px 30px 30px;
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .course-single-wrap .course-thumbnail img {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-cde1275 .course-single-wrap .course-thumbnail {
    border-radius: 15px 15px 15px 15px
}

.elementor-1766 .elementor-element.elementor-element-c3f5215 {
    padding: 75px 0 25px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-46ec5e1>.elementor-element-populated {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-c308668 .ts-section-title {
    text-align: center
}

.elementor-1766 .elementor-element.elementor-element-c308668 .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px
}

.elementor-1766 .elementor-element.elementor-element-c308668 .sub-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-c308668 .ts-section-title .sub-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-c308668 .ts-section-title .section-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-c308668>.elementor-widget-container {
    padding: 0 0 0 0;
    border-radius: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-99b3d20 {
    padding: 20px 0 95px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-ca0a772>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 30px 0 15px
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0 40px 0 0
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg)
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox .elementskit-info-box-title {
    margin: 0 0 25px 0;
    color: #333;
    font-size: 24px;
    font-weight: 700
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox:hover .elementskit-info-box-title {
    color: #333
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox .box-body>p {
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox p {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox {
    padding: 0 0 0 0;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 6px 6px 6px 6px
}

.elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox:hover {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255, 255, 255, 0)
}

.elementor-1766 .elementor-element.elementor-element-f0ac334:hover .elementor-widget-container {
    background-color: #565656
}

.elementor-1766 .elementor-element.elementor-element-f0ac334>.elementor-widget-container {
    transition: background 2.8s;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 10px 25px 0 rgba(255, 255, 255, .3)
}

.elementor-1766 .elementor-element.elementor-element-f8c2fd8>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 30px 0 15px
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0 40px 0 0
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg)
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox .elementskit-info-box-title {
    margin: 0 0 25px 0;
    color: #333;
    font-size: 24px;
    font-weight: 700
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox:hover .elementskit-info-box-title {
    color: #333
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox .box-body>p {
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox p {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox {
    padding: 0 0 0 0;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 6px 6px 6px 6px
}

.elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox:hover {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255, 255, 255, 0)
}

.elementor-1766 .elementor-element.elementor-element-4071bc9:hover .elementor-widget-container {
    background-color: #565656
}

.elementor-1766 .elementor-element.elementor-element-4071bc9>.elementor-widget-container {
    transition: background 2.8s;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 10px 25px 0 rgba(255, 255, 255, .3)
}

.elementor-1766 .elementor-element.elementor-element-1c396f4>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0 40px 0 0
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg)
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox .elementskit-info-box-title {
    margin: 0 0 25px 0;
    color: #333;
    font-size: 24px;
    font-weight: 700
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox:hover .elementskit-info-box-title {
    color: #333
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox .box-body>p {
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.16px
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox p {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox {
    padding: 0 0 0 0;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 6px 6px 6px 6px
}

.elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox:hover {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255, 255, 255, 0)
}

.elementor-1766 .elementor-element.elementor-element-395d6ac:hover .elementor-widget-container {
    background-color: #565656
}

.elementor-1766 .elementor-element.elementor-element-395d6ac>.elementor-widget-container {
    transition: background 2.8s;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 10px 25px 0 rgba(255, 255, 255, .3)
}

.elementor-1766 .elementor-element.elementor-element-23bfed1:not(.elementor-motion-effects-element-type-background),
.elementor-1766 .elementor-element.elementor-element-23bfed1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0eb582;
    background-image: url(/wp-content/uploads/2019/11/cta_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-1766 .elementor-element.elementor-element-23bfed1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 0 90px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-23bfed1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-1766 .elementor-element.elementor-element-09c05f0 .elementskit-section-title-wraper .elementskit-section-title {
    color: #fff;
    margin: 0 0 30px 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px
}

.elementor-1766 .elementor-element.elementor-element-09c05f0 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000
}

.elementor-1766 .elementor-element.elementor-element-09c05f0 .elementskit-section-title-wraper p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 300px 15px 300px
}

.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button .elementor-align-icon-right {
    margin-left: 8px
}

.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button .elementor-align-icon-left {
    margin-right: 8px
}

.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    fill: #fff;
    color: #fff;
    background-color: #52cba6;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #fff;
    border-radius: 36px 36px 36px 36px;
    padding: 18px 30px 15px 30px
}

.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button:hover,
.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button:focus {
    color: #52cba6;
    background-color: #fff;
    border-color: #fff
}

.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button:hover svg,
.elementor-1766 .elementor-element.elementor-element-5212a91 .elementor-button:focus svg {
    fill: #52cba6
}

.elementor-1766 .elementor-element.elementor-element-5212a91>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-e78f738 {
    padding: 70px 0 35px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-9cdc752>.elementor-container {
    max-width: 800px
}

.elementor-1766 .elementor-element.elementor-element-9cdc752 {
    padding: 0 0 50px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-49078bc .ts-section-title {
    text-align: center
}

.elementor-1766 .elementor-element.elementor-element-49078bc .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px
}

.elementor-1766 .elementor-element.elementor-element-49078bc .sub-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-49078bc .ts-section-title .sub-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-49078bc .ts-section-title .section-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-49078bc>.elementor-widget-container {
    padding: 0 50px 0 0;
    border-radius: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-f7d7055 .testimonial-author-content .testimonial-text i {
    color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-f7d7055 .ts-testimonial-standard.classic .active.center .testimonial-author-content .qoute-icon {
    color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-f7d7055 .testimonial-author-content .testimonial-text {
    font-size: 20px;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-f7d7055>.elementor-widget-container {
    margin: 0 -20px 0 -20px;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-3eff003:not(.elementor-motion-effects-element-type-background),
.elementor-1766 .elementor-element.elementor-element-3eff003>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(/wp-content/uploads/2019/11/team_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-1766 .elementor-element.elementor-element-3eff003 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -100px;
    margin-bottom: -100px;
    padding: 210px 0 210px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-3eff003>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-1766 .elementor-element.elementor-element-c645555>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px
}

.elementor-1766 .elementor-element.elementor-element-13f9d1d>.elementor-container {
    max-width: 850px
}

.elementor-1766 .elementor-element.elementor-element-13f9d1d {
    padding: 0 0 70px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-4822bf2 .ts-section-title {
    text-align: center
}

.elementor-1766 .elementor-element.elementor-element-4822bf2 .section-title {
    text-align: center;
    font-size: 42px;
    letter-spacing: -.42px
}

.elementor-1766 .elementor-element.elementor-element-4822bf2 .sub-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-4822bf2 .ts-section-title .sub-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-4822bf2 .ts-section-title .section-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-4822bf2>.elementor-widget-container {
    padding: 0 50px 0 0;
    border-radius: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-f3b6808 .instructor-list-wrap .single-instructor-item p {
    font-size: 14px;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-f3b6808 .instructor-list-wrap .single-instructor-item .instructor-profile-pic.round {
    background-color: #c1f3e6;
    width: 255px;
    height: 255px
}

.elementor-1766 .elementor-element.elementor-element-f3b6808 .instructor-list-wrap .single-instructor-item .hover-item {
    background-color: #15c08d
}

.elementor-1766 .elementor-element.elementor-element-1baeb64 {
    padding: 65px 0 60px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-03e9a58>.elementor-element-populated {
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-a60c1f7>.elementor-container {
    max-width: 850px
}

.elementor-1766 .elementor-element.elementor-element-a60c1f7 {
    padding: 0 0 70px 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-d59a2ce>.elementor-element-populated {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-e7f9532 .ts-section-title {
    text-align: center
}

.elementor-1766 .elementor-element.elementor-element-e7f9532 .section-title {
    text-align: center;
    color: #333;
    font-size: 36px;
    line-height: 42px
}

.elementor-1766 .elementor-element.elementor-element-e7f9532 .sub-title {
    color: #777;
    font-family: "Rubik", Sans-serif;
    font-weight: 400
}

.elementor-1766 .elementor-element.elementor-element-e7f9532 .ts-section-title .sub-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-e7f9532 .ts-section-title i {
    color: #333
}

.elementor-1766 .elementor-element.elementor-element-e7f9532 .ts-section-title .section-title {
    margin: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-e7f9532>.elementor-widget-container {
    padding: 0 50px 0 0;
    border-radius: 0 0 0 0
}

.elementor-1766 .elementor-element.elementor-element-261aee5 {
    padding: 0 0 0 0;
    overflow: visible
}

.elementor-1766 .elementor-element.elementor-element-91cf202>.elementor-element-populated {
    padding: 0 30px 0 15px
}

.elementor-1766 .elementor-element.elementor-element-d31918c .post .entry-title {
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: -.24px;
    margin: 0 0 20px 0
}

.elementor-1766 .elementor-element.elementor-element-d31918c .post .entry-content p {
    margin: 0 0 20px 0
}

.elementor-1766 .elementor-element.elementor-element-d31918c .post .post-footer a {
    color: #333
}

.elementor-1766 .elementor-element.elementor-element-d31918c .post .post-footer a:hover {
    color: #0eb582
}

.elementor-1766 .elementor-element.elementor-element-d31918c .post .post-footer a {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px
}

.elementor-1766 .elementor-element.elementor-element-d31918c .latest-blog .post {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #c1f3e6
}

.elementor-1766 .elementor-element.elementor-element-c0318b0>.elementor-element-populated {
    padding: 0 15px 0 15px
}

.elementor-1766 .elementor-element.elementor-element-75c7aec .entry-header .entry-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px
}

@media(max-width:1024px) {
    .elementor-1766 .elementor-element.elementor-element-10e5a3b {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-5a87cb1>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .banner-item {
        min-height: 580px
    }

    .elementor-1766 .elementor-element.elementor-element-fa5cd67>.elementor-element-populated {
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-de2f1a4 .single-course .ts-course-el-title {
        font-size: 20px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-de2f1a4 .single-course {
        padding: 15px 15px 15px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-872864d .single-course .ts-course-el-title {
        font-size: 20px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-872864d .single-course {
        padding: 15px 15px 15px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-f5772f5 .single-course .ts-course-el-title {
        font-size: 20px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-f5772f5 .single-course {
        padding: 15px 15px 15px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-e9f6da7 .single-course .ts-course-el-title {
        font-size: 20px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-e9f6da7 .single-course {
        padding: 15px 15px 15px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-8a1d656 .single-course .ts-course-el-title {
        font-size: 20px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-8a1d656 .single-course {
        padding: 15px 15px 15px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-cde1275 .single-course .ts-course-el-title {
        font-size: 20px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-cde1275 .single-course {
        padding: 15px 15px 15px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-c3f5215 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0 30px 0
    }

    .elementor-1766 .elementor-element.elementor-element-ca0a772>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
        margin: 0 20px 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-f0ac334 .elementskit-infobox {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-f8c2fd8>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
        margin: 0 20px 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox .elementskit-info-box-icon {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-4071bc9 .elementskit-infobox {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-1c396f4>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
        margin: 0 20px 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox .elementskit-info-box-icon {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-395d6ac .elementskit-infobox {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-1f6b162>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 30px 0 30px
    }

    .elementor-1766 .elementor-element.elementor-element-09c05f0 .elementskit-section-title-wraper p {
        margin: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-ec1b2cd>.elementor-element-populated {
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-f3b6808 .instructor-list-wrap .single-instructor-item .instructor-profile-pic.round {
        width: 200px;
        height: 200px
    }

    .elementor-1766 .elementor-element.elementor-element-1baeb64 {
        padding: 20px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-03e9a58>.elementor-element-populated {
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-d59a2ce>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-91cf202>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-c0318b0>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }
}

@media(max-width:767px) {
    .elementor-1766 .elementor-element.elementor-element-10e5a3b {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-5a87cb1>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .banner-item {
        min-height: 730px
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .slider-content .sub-title {
        margin: 0 0 20px 0
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .slider-content .main-title {
        font-size: 30px;
        line-height: 1.3em;
        margin: 0 0 20px 0
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6 .main-slider .slider-content .slider-desc {
        font-size: 16px
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6 .slider-content {
        padding: 100px 0 100px 0
    }

    .elementor-1766 .elementor-element.elementor-element-2d010c6>.elementor-widget-container {
        margin: -220px 0 0 0;
        padding: 80px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-8cdb864 {
        padding: 50px 0 50px 0
    }

    .elementor-1766 .elementor-element.elementor-element-8df405f {
        padding: 0 0 30px 0
    }

    .elementor-1766 .elementor-element.elementor-element-3fda709>.elementor-element-populated {
        margin: 0 0 20px 0
    }

    .elementor-1766 .elementor-element.elementor-element-4c566ba>.elementor-element-populated {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-33d0864 {
        padding: 0 0 30px 0
    }

    .elementor-1766 .elementor-element.elementor-element-e6156f8>.elementor-element-populated {
        margin: 0 15px 20px 15px
    }

    .elementor-1766 .elementor-element.elementor-element-6cc1697 .section-title {
        font-size: 30px
    }

    .elementor-1766 .elementor-element.elementor-element-327db17>.elementor-element-populated {
        margin: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-2bddcb0 {
        padding: 15px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-d373c6c>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-de2f1a4>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-37960e7>.elementor-element-populated {
        margin: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-872864d>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-ae7ed0c>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-f5772f5>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-1d12cc4>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-e9f6da7>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-d4576a4>.elementor-element-populated {
        margin: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-8a1d656>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-eea20b6>.elementor-element-populated {
        margin: 0 15px 0 15px;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-cde1275>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-c3f5215 {
        padding: 40px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-46ec5e1>.elementor-element-populated {
        margin: 0 0 20px 0;
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-c308668 .section-title {
        font-size: 30px
    }

    .elementor-1766 .elementor-element.elementor-element-99b3d20 {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-ca0a772>.elementor-element-populated {
        margin: 0 0 20px 0;
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-f8c2fd8>.elementor-element-populated {
        margin: 0 0 20px 0;
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-1c396f4>.elementor-element-populated {
        margin: 0 0 20px 0;
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-1f6b162>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-09c05f0 .elementskit-section-title-wraper .elementskit-section-title {
        margin: 0 0 15px 0;
        font-size: 30px;
        line-height: 1.3em
    }

    .elementor-1766 .elementor-element.elementor-element-09c05f0 .elementskit-section-title-wraper p {
        font-size: 16px;
        margin: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-e78f738 {
        padding: 20px 0 45px 0
    }

    .elementor-1766 .elementor-element.elementor-element-ec1b2cd>.elementor-element-populated {
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-f7d7055>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-3eff003 {
        padding: 90px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-4822bf2 .section-title {
        font-size: 30px
    }

    .elementor-1766 .elementor-element.elementor-element-4822bf2>.elementor-widget-container {
        padding: 10px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-1baeb64 {
        padding: 135px 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-a60c1f7 {
        padding: 0 0 50px 0
    }

    .elementor-1766 .elementor-element.elementor-element-e7f9532 .ts-section-title {
        text-align: center
    }

    .elementor-1766 .elementor-element.elementor-element-e7f9532 .section-title {
        text-align: center
    }

    .elementor-1766 .elementor-element.elementor-element-e7f9532>.elementor-widget-container {
        padding: 0 0 0 0
    }

    .elementor-1766 .elementor-element.elementor-element-91cf202>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 15px 0 15px
    }

    .elementor-1766 .elementor-element.elementor-element-c0318b0>.elementor-element-populated {
        margin: 0 0 0 0;
        padding: 0 15px 0 15px
    }
}

@media(min-width:768px) {
    .elementor-1766 .elementor-element.elementor-element-91cf202 {
        width: 69.474%
    }

    .elementor-1766 .elementor-element.elementor-element-c0318b0 {
        width: 30.526%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1766 .elementor-element.elementor-element-91cf202 {
        width: 100%
    }

    .elementor-1766 .elementor-element.elementor-element-c0318b0 {
        width: 100%
    }
}